# if using postgres local
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=ai_news_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/db

# if using neon
NEON_DATABASE_URL=your neon db url

# webshare
WEBSHARE_USERNAME=your username
WEBSHARE_PASSWORD=your password
WEBSHARE_DOMAIN_NAME=your domain name
WEBSHARE_PORT=your port
